NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SITE_URL=https://rancho-seven.vercel.app
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DEFAULT_FAZENDA_ID=

WHATSAPP_VERIFY_TOKEN=
META_WHATSAPP_TOKEN=
META_PHONE_NUMBER_ID=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=

NEXT_PUBLIC_WHATSAPP_ENV=sandbox
NEXT_PUBLIC_TWILIO_SANDBOX_NUMBER=+14155238886
NEXT_PUBLIC_TWILIO_SANDBOX_JOIN_CODE=
